.sidebar-nav {
    margin-top: 20px;
    padding: 10;
    list-style: none;
    /* color: red; */
}

/* Adjust spacing */
/* ul.custom-list li {
    margin-bottom: 10px;
} */



.sublist {
    margin-left: 20px; 
    margin-top: 20px;
    /* color:red; */
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

.model-form-div {
    margin-top: 20px;
    width: 500px;
    /* height: 300px; */
    border: 1px solid;
    border-radius: 9px;
    background-color: pink;
    padding: 10px
}

.submit-button {
    border-radius: 6px;
    border-style: dashed;
    color: blue;
    background-color: lightgreen;
    width: 100px;
}