.sidebar-nav {
    margin-top: 20px;
    padding: 10;
    list-style: none;
    /* color: red; */
}

/* Adjust spacing */
/* ul.custom-list li {
    margin-bottom: 10px;
} */



.sublist {
    margin-left: 20px; 
    margin-top: 20px;
    /* color:red; */
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}